<div class="row">
    <div class="col controls">        
        <button type="button" class="primaryBTN" (click)="accion('agregarIntegrante')">
            <div class="button-content">
                <span class="material-symbols-outlined primaryBTN-icon">
                    add
                </span>
                <span class="text">Agregar Integrante</span>
            </div>
        </button>

    </div>
</div>

<!-- Seleccion de un nuevo Integrante -->
@if (buscarEstudiante) {
    <div class="filter-box">
        <div class="row">
            <div class="col-sm">
                <!-- Mostrar datatable con los organismos para filtrar -->
                <form [formGroup]="formularioBuscarIntegrante" (ngSubmit)="onSubmit()" method="post">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="rolProyecto" class="etiqueta-form"><strong>Rol Proyecto</strong></label>
                            <select id="rolProyecto" name="rolProyecto" class="form-select" formControlName="rolProyecto">
                                <option value="" disabled selected hidden>Selecciona el Rol que tendra el usuario</option>
                                @for (key of enumTranslationService.getEnumKeys(rolProyectoEnum); track $index) {
                                    <option [value]="key">
                                        {{enumTranslationService.getEnumValueByKey(rolProyectoEnum, key)}}
                                    </option>
                                }
                            </select>
                            <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formularioBuscarIntegrante.get('rolProyecto')?.valid && this.formularioBuscarIntegrante.get('rolProyecto')?.touched ? 'block' : 'none'">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="usuarioProspecto" class="etiqueta-form"><strong>Usuario</strong></label>
                            <select id="usuarioProspecto" name="usuarioProspecto" class="form-select" formControlName="usuarioProspecto">
                                <option value="" disabled selected hidden>Selecciona el Usuario para este Rol</option>
                                @for (usuario of this.listadoDeIntegrantes.data.integrantes; track $index) {
                                    <option [value]="usuario.usuario.id">
                                        {{enumTranslationService.getEnumValueByKey(tipoDocumentoEnum2, usuario.usuario.tipoDocumento)}}: {{usuario.usuario.numeroDocumento}} - {{usuario.usuario.nombre}} {{usuario.usuario.apellido}} - {{enumTranslationService.getEnumValueByKey(tipoUsuarioEnum, usuario.usuario.tipoUsuario)}}
                                    </option>
                                }
                            </select>
                            <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formularioBuscarIntegrante.get('usuarioProspecto')?.valid && this.formularioBuscarIntegrante.get('usuarioProspecto')?.touched ? 'block' : 'none'">
                                Campo requerido
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col controls">

                            <button type="button" class="secondaryBTN" (click)="limpiarFiltroBusquedaIntegrantes()">
                                <div class="button-content">
                                    <span class="material-symbols-outlined secondaryBTN-icon">
                                        filter_alt
                                    </span>
                                    <span class="text">Cancelar</span>
                                </div>
                            </button>

                            <button type="submit" class="primaryBTN">
                                <div class="button-content">
                                    <span class="material-symbols-outlined primaryBTN-icon">
                                        add
                                    </span>
                                    <span class="text">Agregar</span>
                                </div>
                            </button>

                        </div>
                    </div>

                    <div class="form-guide-line"></div>

                    <!-- Tabla Paginada  -->
                    <!-- <app-datatable-custom [datatableInputs]="datatableInputsIntegrantesOrganismo"
                        (accionEmitter)="accion($event)"></app-datatable-custom> -->

                </form>
            </div>
        </div>
    </div>
}

<!-- Tabla Paginada Con los Integrantes del Proyecto -->
<app-datatable-custom [datatableInputs]="datatableInputsIntegrantes" (accionEmitter)="accion($event)"></app-datatable-custom>