<div class="contenedorCentral">

<div class="container" id="container">

    <div class="form-container sign-in-container">

        <form id="loginForm" method="post">
            <h1>SIVRI</h1>

            <input id="inputEmail" type="email" name="ingreso_usuario" placeholder="Correo" required/>
            <input id="inputPassword" type="password" name="ingreso_clave" placeholder="Clave" required/>
            <a href="#">Olvidaste la contraseña?</a>

            <button id=btnInicioSesion type="submit">Iniciar Sesion</button>
        </form>

    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Hola!</h1>
                <p>Bienvenidos al Sistema de Información de la Vicerrectoria de Investigaciones de la Universidad del Cauca</p>
            </div>
        </div>
    </div>
</div>
</div>
