<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLink="/inicio"><a>Inicio</a></li>
        <li class="breadcrumb-item" routerLink="/usuarios/listar-solicitudes"><a>Usuarios</a></li>
        <li class="breadcrumb-item" routerLink="/usuarios/listar-solicitudes/{{id}}"><a>Solicitud Usuario ID:{{id}}</a>
        </li>
    </ol>
</nav>

<h1 class="title">Solicitud de Usuario: {{this.nombre}}</h1>

<div class="nav-container">
    <ul class="nav nav-underline">
    </ul>
    <div class="guide-line"></div>
</div>

<form [formGroup]="solicitudUsuarioForm" (ngSubmit)="onSubmit()" method="get">

    <div class="filter-box">

        <!-- Formulario de Creacion -->
        <div class="row">
            <div class="col-sm">
                <label for="correo" class="etiqueta-form"><strong>Correo</strong></label>
                <input id="correo" name="correo" class="form-control" type="email" placeholder="Correo"
                    formControlName="correo">
            </div>

            <div class="col-sm">
                <label for="tipoDocumento" class="etiqueta-form"><strong>Tipo de Documento</strong></label>
                <select id="tipoDocumento" name="tipoDocumento" class="form-select" formControlName="tipoDocumento">
                    <option value="CEDULA_CIUDADANIA">Cedula Ciudadania</option>
                    <option value="TARJETA_IDENTIDAD">Tarjeta de Identidad</option>
                    <option value="CEDULA_EXTRANJERIA">Cedula de Extranjeria</option>
                    <option value="PASAPORTE">Pasaporte</option>
                </select>
            </div>

            <div class="col-sm">
                <label for="numeroDocumento" class="etiqueta-form"><strong>Numero de Documento</strong></label>
                <input id="numeroDocumento" name="numeroDocumento" class="form-control" type="text"
                    placeholder="Numero de Documento" formControlName="numeroDocumento">
            </div>

            <div class="col-sm">
                <label for="sexo" class="etiqueta-form"><strong>Sexo</strong></label>
                <select id="sexo" name="sexo" class="form-select" formControlName="sexo">
                    <option value="MASCULINO">Masculino</option>
                    <option value="FEMENINO">Femenino</option>
                    <option value="OTRO">Otro</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <label for="tipoUsuario" class="etiqueta-form"><strong>Tipo Usuario</strong></label>
                <select id="tipoUsuario" name="tipoUsuario" class="form-select" formControlName="tipoUsuario">
                    <option value="ADMINISTRATIVO">Administrativo</option>
                    <option value="DOCENTE">Docente</option>
                    <option value="PREGRADO">Pregrado</option>
                    <option value="POSGRADO">Posgrado</option>
                    <option value="EGRESADO">Egresado</option>
                    <option value="EXTERNO">Externo</option>
                </select>
            </div>

            <div class="col-sm">
                <label for="nombre" class="etiqueta-form"><strong>Nombres</strong></label>
                <input id="nombre" name="nombre" class="form-control" type="text" placeholder="Nombres"
                    formControlName="nombre">
            </div>

            <div class="col-sm">
                <label for="apellido" class="etiqueta-form"><strong>Apellidos</strong></label>
                <input id="apellido" name="apellido" class="form-control" type="text" placeholder="Apellidos"
                    formControlName="apellido">
            </div>

            <div class="col-sm">
                <label for="telefono" class="etiqueta-form"><strong>Telefono</strong></label>
                <input id="telefono" name="telefono" class="form-control" type="text" placeholder="Telefono"
                    formControlName="telefono">
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <label for="cvLac" class="etiqueta-form"><strong>cvLac</strong></label>
                <input id="cvLac" name="cvLac" class="form-control" type="text" placeholder="cvLac"
                    formControlName="cvLac">
            </div>

            <div class="col-sm">
                <label for="nota" class="etiqueta-form"><strong>Nota</strong></label>
                <input id="nota" name="nota" class="form-control" type="text" placeholder="Nota" formControlName="nota">
            </div>

            <div class="col-sm">
                <label for="estadoSolicitud" class="etiqueta-form"><strong>Estado de Solicitud</strong></label>
                <select id="estadoSolicitud" name="estadoSolicitud" class="form-select" formControlName="estadoSolicitud">
                    <option value="REVISION_VRI">Revision VRI</option>
                    <option value="FORMULADO_OBSERVACIONES">Formulado con Observaciones</option>                    
                </select>
            </div>

            <div class="col-sm">
                <label for="id" class="etiqueta-form"><strong>Id Solicitud</strong></label>
                <input id="id" name="id" class="form-control" type="text" placeholder="ID" formControlName="id">
            </div>

            <!-- TODO MIGUEL Select con la lista de programas -->
            <!-- TODO MIGUEL Select con la lista de organismos de investigacion -->
            <!-- TODO MIGUEL Select con la lista de roles disponibles de ese organismo de investigacion -->
        </div>

        <div class="row">
            <div class="col controls">
                <button type="button" class="secondaryBTN">
                    <div class="button-content">
                        <span class="material-symbols-outlined secondaryBTN-icon">
                            cancel
                        </span>
                        <span class="text">Rechazar</span>
                    </div>
                </button>

                <button type="submit" class="primaryBTN">
                    <div class="button-content">
                        <span class="material-symbols-outlined primaryBTN-icon">
                            check_circle 
                        </span>
                        <span class="text">Aprobar</span>
                    </div>
                </button>

            </div>
        </div>

        <div class="form-guide-line"></div>
    </div>

</form>