<form [formGroup]="formulario" (ngSubmit)="onsubmit()" method="get">
  <div class=" d-flex justify-content-center">
    @if (!mostrarBtnActividad) {
    <h5 class="etiqueta-form"><strong>Actualizar Actividad del plan de trabajo</strong></h5>
    }@else {
      <h5 class="etiqueta-form"><strong>Actividad del plan de trabajo</strong></h5>
    }
  </div>
  <div class="filter-box">
    <!--formulario de editar semillero -->
    <div class="row">
      <div class="col-sm">
        <label for="objetivo" class="etiqueta-form"><strong>Objetivo</strong><span class="text-red-500">*</span></label>
        <textarea id="objetivo" name="objetivo" class="form-control" type="text" placeholder="Objetivo"
          formControlName="objetivo"></textarea>
          <div id="badFeedback" class="invalid-feedback" [style.display]="!formulario.get('objetivo')?.valid && formulario.get('objetivo')?.touched ? 'block' : 'none'">
            Digita un objetivo valido (1 - 1325 caracteres)
          </div>
      </div>
      <div class="col-sm">
        <label for="actividad" class="etiqueta-form"><strong>Actividad</strong><span class="text-red-500">*</span></label>
        <input id="actividad" name="actividad" class="form-control" type="text" placeholder="Actividad" formControlName="actividad">
        <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('actividad')?.valid && this.formulario.get('actividad')?.touched ? 'block' : 'none'">
          Digita un Nombre valido (1 - 100 caracteres)
      </div>
      </div>
      <div class="col-sm">
        <label for="compromiso" class="etiqueta-form"><strong>Producto </strong><span class="text-red-500">*</span></label>
        <select id="compromiso" name="compromiso" class="form-select" formControlName="compromiso">

          @for (compromiso of compromisosSemillero; track $index) {
            <option [value]="compromiso.id">{{compromiso.nombre}}</option>
            }
        </select>
        <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('compromiso')?.valid && this.formulario.get('compromiso')?.touched ? 'block' : 'none'">
          Selecciona un Compromiso valido
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <label for="responsable" class="etiqueta-form"><strong>Responsable </strong><span class="text-red-500">*</span></label>
        <select id="responsable" name="responsable" class="form-select" formControlName="responsable">
          <!-- TODO falta traer los responsables desde la bd -->
          @for (mentor of integrantesMentores; track $index) {
          <option [value]="mentor.id">{{mentor.nombres}}</option>
          }
        </select>
        <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('responsable')?.valid && this.formulario.get('responsable')?.touched ? 'block' : 'none'">
          Selecciona un Responsable valido
      </div>
      </div>
      <div class="col-sm">
        <label for="fechaInicio" class="etiqueta-form"><strong>Fecha Inicio</strong><span class="text-red-500">*</span></label>
        <input id="fechaInicio" name="fechaInicio" class="form-control" type="date" placeholder="Fecha Inicio"
          formControlName="fechaInicio" min="{{minDate}}">
          <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('fechaInicio')?.valid && this.formulario.get('fechaInicio')?.touched ? 'block' : 'none'">
            Selecciona una Fecha valida
        </div>
      </div>
      <div class="col-sm">
        <label for="fechaFin" class="etiqueta-form"><strong>Fecha Fin</strong><span class="text-red-500">*</span></label>
        <input id="fechaFin" name="fechaFin" class="form-control" type="date" placeholder="Fecha Fin"
          formControlName="fechaFin" min="{{minDate}}">
          <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('fechaFin')?.valid && this.formulario.get('fechaFin')?.touched ? 'block' : 'none'">
            Selecciona una Fecha valida
        </div>
      </div>
    </div>
    @if (!mostrarBtnActividad) {
    <div class="row">
      <div class="col controls">

        <button type="button" class="secondaryBTN" (click)="cancelar()">
          <div class="button-content">
            <span class="material-symbols-outlined secondaryBTN-icon">
              cancel
            </span>
            <span class="text">Cancelar</span>
          </div>
        </button>
        <button type="submit" class="primaryBTN">
          <div class="button-content">
            <span class="material-symbols-outlined primaryBTN-icon">
              check_circle
            </span>
            <span class="text">Actualizar</span>
          </div>
        </button>
      </div>
    </div>
  }@else {
    <div class="row">
      <div class="col controls">

        <button type="button" class="secondaryBTN" (click)="atras()">
          <div class="button-content">
            <span class="material-symbols-outlined secondaryBTN-icon">
              keyboard_return
            </span>
            <span class="text">Atras</span>
          </div>
        </button>

      </div>
    </div>
  }
    <div class="form-guide-line"></div>

  </div>
  </form>
