<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLink="/inicio"><a>Inicio</a></li>
        <li class="breadcrumb-item" routerLink="/proyectos"><a>Proyectos</a></li>
    </ol>
</nav>

<h1 class="title">Gestion de Proyectos</h1>

<div class="nav-container">
    <ul class="nav nav-underline">
        <li class="nav-item">
            <a class="nav-link" routerLink="listar" routerLinkActive="active">Listar Proyectos</a>
        </li>

        @if (this.informacionUsuarioAutenticadoService.esFuncionario() || this.informacionUsuarioAutenticadoService.esInvestigadorConPermisosAdminYNoEsDirectorProyecto()) {
            <li class="nav-item">
                <a class="nav-link" routerLink="crear" routerLinkActive="active">Crear Proyecto</a>
            </li>
        }
    </ul>
    <div class="guide-line"></div>
</div>


<router-outlet></router-outlet>