@if (this.proyectoInformacionConvocatoria.nombre != '') {
    <app-formulario [filtroInput]="filtroInput" [specificInfo]="filtroValues" (accionEmitter)="accion($event)" (submitEmitter)="submit($event)"></app-formulario>

    <!-- DOCUMENTOS -->
    <div class="row text-center"><h5 class="">Documentos Requeridos</h5></div>
        
    <div class="accordion" id="accordionExample">

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Previos a la Ejecución
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <app-datatable-custom [datatableInputs]="datatableInputsDocPreEjecucion" (accionEmitter)="accion($event)"></app-datatable-custom>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Durante la Ejecución
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <app-datatable-custom [datatableInputs]="datatableInputsDocEjecucion" (accionEmitter)="accion($event)"></app-datatable-custom>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Posteriores a la Ejecución
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <app-datatable-custom [datatableInputs]="datatableInputsDocPostEjecucion" (accionEmitter)="accion($event)"></app-datatable-custom>
            </div>
          </div>
        </div>
    </div>
    
}@else {
    <div class="d-flex align-items-center">
        <span class="material-symbols-outlined inl" style="color: #ED7D31;">
            error
        </span>
        <p class="d-inline ml-2 mb-0">El proyecto aun no tiene una Convocatoria Asociada. Usa el filtro a continuacion para vincular una Convocatoria</p>
        <p class="d-inline ml-2 mb-0"></p>
    </div>

    <app-listar-convocatorias [obtenerRegistroId]="true" (filtrarEmitter)="accion($event)"></app-listar-convocatorias>
}
    