<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLink="/inicio"><a>Inicio</a></li>
        <li class="breadcrumb-item" routerLink="/usuarios"><a>Usuarios</a></li>
    </ol>
</nav>

<h1 class="title">Gestión de Usuarios</h1>

<div class="nav-container">
    <ul class="nav nav-underline">

        @if (this.informacionUsuarioAutenticadoService.esFuncionario()) {
            <li class="nav-item">
                <a class="nav-link" routerLink="listar-usuarios" routerLinkActive="active">Listar Usuarios</a>
            </li>
        }
        
        @if (this.informacionUsuarioAutenticadoService.esFuncionario() || this.informacionUsuarioAutenticadoService.esInvestigadorConPermisosAdmin()) {
            <li class="nav-item">
                <a class="nav-link" routerLink="listar-solicitudes" routerLinkActive="active">Listar solicitudes para creación de Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="crear-usuario" routerLinkActive="active">Enviar solicitud de creación de Usuario</a>
            </li>
        }        
        
    </ul>
    <div class="guide-line"></div>
</div>


<router-outlet></router-outlet>