<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLink="/inicio"><a>Inicio</a></li>
        <li class="breadcrumb-item" routerLink="/usuarios"><a>Usuarios</a></li>
    </ol>
</nav>

<h1 class="title">Gestion de Usuarios</h1>

<div class="nav-container">
    <ul class="nav nav-underline">
        <li class="nav-item">
            <a class="nav-link" routerLink="listar-solicitudes" routerLinkActive="active">Listar Solicitudes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="crear-usuario" routerLinkActive="active">Crear Solicitud Usuario</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="listar-usuarios" routerLinkActive="active">Listar Usarios</a>
        </li>
    </ul>
    <div class="guide-line"></div>
</div>


<router-outlet></router-outlet>