<nav>

  <a href="https://www.unicauca.edu.co/" target="_blank" class="d-block text-white text-decoration-none link-container">
    <img src="../../../../../assets/img/SIVRI/logoM.png" alt="" class="mx-auto d-block">
</a>


  <hr class="line">
  <ul class="nav nav-pills flex-column ">

    <li class="nav-item">
      <a class="nav-link" routerLink="inicio" routerLinkActive="active">
          <span class="nav-icon material-symbols-outlined">home</span>
          <span class="nav-text">Inicio</span>
    </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="grupos" routerLinkActive="active">
        <span class="nav-icon material-symbols-outlined">groups</span>
        <span class="nav-text">Grupos</span>
      </a>
    </li>
    @if (found==true) {
    <li class="nav-item">
      <a class="nav-link" routerLink="semilleros" routerLinkActive="active">
        <span class="nav-icon material-symbols-outlined">experiment</span>
        <span class="nav-text">Semilleros</span>
      </a>
    </li>
  }
    <li class="nav-item">
      <a class="nav-link" routerLink="convocatorias" routerLinkActive="active">
        <span class="nav-icon material-symbols-outlined">campaign</span>
        <span class="nav-text">Convocatorias</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="proyectos" routerLinkActive="active">
        <span class="nav-icon material-symbols-outlined">rocket_launch</span>
        <span class="nav-text">Proyectos</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="usuarios" routerLinkActive="active">
        <span class="nav-icon material-symbols-outlined">person_search</span>
        <span class="nav-text">Usuarios</span>
      </a>
    </li>

  </ul>
</nav>
