<h3 class="text-dark mb-4">Gestion de Solicitudes de Usuario</h3>
<div>
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li routerLink="listar" routerLinkActive="active" class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab">Listar Solicitudes</a></li>
            <li routerLink="ver" routerLinkActive="active" class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab">Ver</a></li>
        </ul>
        <div class="tab-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
