.modal-header {
    color: #FFB000;
    border-bottom: 3px solid #FFB000; 
} 

.material-symbols-outlined{
    font-size: 50px;
}
.modal-title{
    font-size: 25px;
}

.modal-footer {
    border-top: none;
}

.btn{
    color: #fff;
    background-color: #FFB000;
    border-color: #FFB000  ;
}

.btn:hover{
    color: #fff;
    background-color: #bb881b;
    border-color: #bb881b;
}

.row{
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, .5);
    box-shadow: 0 0 40px rgba(0, 0, 0, .5);
    color: #000;
    background-color: #fff;
    border: rgba(0, 0, 0, 0);
}
