<form [formGroup]="formulario" (ngSubmit)="onSubmit()" method="get">

    <div class="filter-box">

        <!-- Formulario de Creacion -->
        <div class="row">
            <div class="col-sm">
                <label for="correo" class="etiqueta-form"><strong>Correo</strong></label>
                <input id="correo" name="correo" class="form-control" type="email" placeholder="Correo" formControlName="correo">
                <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('correo')?.valid && this.formulario.get('correo')?.touched ? 'block' : 'none'"> 
                    Digita un Correo valido (8 - 100 caracteres)
                </div>

            </div>

            <div class="col-sm">
                <label for="tipoDocumento" class="etiqueta-form"><strong>Tipo de Documento</strong></label>
                <select id="tipoDocumento" name="tipoDocumento" class="form-select" formControlName="tipoDocumento">
                    <option value="" disabled selected hidden>Tipo de Documento</option>
                    @for (key of enumTranslationService.getEnumKeys(tipoDocumentoEnum); track $index) {
                    <option [value]="key">{{enumTranslationService.getEnumValueByKey(tipoDocumentoEnum, key)}}</option>
                    }
                </select>
                <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('tipoDocumento')?.valid && this.formulario.get('tipoDocumento')?.touched ? 'block' : 'none'"> 
                    Debes seleccionar un Tipo de Documento de la lista
                </div>
            </div>

            <div class="col-sm">
                <label for="numeroDocumento" class="etiqueta-form"><strong>Numero de Documento</strong></label>
                <input id="numeroDocumento" name="numeroDocumento" class="form-control" type="text"
                    placeholder="Numero de Documento" formControlName="numeroDocumento">
                <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('numeroDocumento')?.valid && this.formulario.get('numeroDocumento')?.touched ? 'block' : 'none'"> 
                    Digita un Numero de Documento valido (5 - 100 caracteres)
                </div>
            </div>

            <div class="col-sm">
                <label for="sexo" class="etiqueta-form"><strong>Sexo</strong></label>
                <select id="sexo" name="sexo" class="form-select" formControlName="sexo">
                    <option value="" disabled selected hidden>Sexo</option>
                    @for (key of enumTranslationService.getEnumKeys(sexoEnum); track $index) {
                    <option [value]="key">{{enumTranslationService.getEnumValueByKey(sexoEnum, key)}}</option>
                    }
                </select>
                <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('sexo')?.valid && this.formulario.get('sexo')?.touched ? 'block' : 'none'"> 
                    Debes seleccionar un Sexo de la lista
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <label for="tipoUsuario" class="etiqueta-form"><strong>Tipo Usuario</strong></label>
                <select id="tipoUsuario" name="tipoUsuario" class="form-select" formControlName="tipoUsuario" (change)="onTipoUsuarioSeleccionado($event)">
                    <option value="" disabled selected hidden>Tipo de Usuario</option>
                    @for (key of enumTranslationService.getEnumKeys(tipoUsuarioEnum); track $index) {
                    <option [value]="key">{{enumTranslationService.getEnumValueByKey(tipoUsuarioEnum, key)}}</option>
                    }
                </select>
                <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('tipoUsuario')?.valid && this.formulario.get('tipoUsuario')?.touched ? 'block' : 'none'"> 
                    Debes seleccionar un Tipo de Usuario de la lista
                </div>
            </div>

            <div class="col-sm">
                <label for="nombre" class="etiqueta-form"><strong>Nombres</strong></label>
                <input id="nombre" name="nombre" class="form-control" type="text" placeholder="Nombres"
                    formControlName="nombre">
                <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('nombre')?.valid && this.formulario.get('nombre')?.touched ? 'block' : 'none'"> 
                    Digita un Nombre valido (1 - 100 caracteres)
                </div>
            </div>

            <div class="col-sm">
                <label for="apellido" class="etiqueta-form"><strong>Apellidos</strong></label>
                <input id="apellido" name="apellido" class="form-control" type="text" placeholder="Apellidos"
                    formControlName="apellido">
                <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('apellido')?.valid && this.formulario.get('apellido')?.touched ? 'block' : 'none'"> 
                    Digita un Apellido valido (1 - 100 caracteres)
                </div>
            </div>

            <div class="col-sm">
                <label for="telefono" class="etiqueta-form"><strong>Telefono</strong></label>
                <input id="telefono" name="telefono" class="form-control" type="text" placeholder="Telefono"
                    formControlName="telefono">
                <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('telefono')?.valid && this.formulario.get('telefono')?.touched ? 'block' : 'none'"> 
                    Digita un Telefono valido (5 - 100 caracteres)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <label for="departamentoId" class="etiqueta-form"><strong>Departamento</strong></label>
                <select id="departamentoId" name="departamentoId" class="form-select" formControlName="departamentoId">
                    <option value="" disabled selected hidden>Seleccione un Departamento</option>
                    <option value="1">Artes Plásticas</option>
                    <option value="2">Agroindustria</option>
                    <option value="3">Biología</option>
                    <option value="4">Ciencia Política</option>
                    <option value="5">Ciencias Administrativas</option>
                    <option value="6">Ciencias Agropecuarias</option>
                    <option value="7">Ciencias Económicas</option>
                    <option value="8">Ciencias Fisiológicas</option>
                    <option value="9">Ciencias Quirúrgicas</option>
                    <option value="10">Comunicación Social</option>
                    <option value="11">Derecho Laboral</option>
                    <option value="12">Derecho Privado</option>
                    <option value="13">Diseño</option>
                    <option value="14">Educación Física, Recreación y Deporte</option>
                    <option value="15">Enfermería</option>
                    <option value="16">Español y Literatura</option>
                    <option value="17">Estudios Interculturales</option>
                    <option value="18">Sistemas</option>
                    <option value="19">Desarrollo de Vías y Estructuras</option>
                </select>  
                @if (this.formulario.get('departamentoId')?.enabled) {
                    <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('departamentoId')?.valid && this.formulario.get('departamentoId')?.touched ? 'block' : 'none'"> 
                        Debes seleccionar un Departamento.
                    </div>
                }                                
            </div>

            <div class="col-sm">
                <label for="programaId" class="etiqueta-form"><strong>Programa</strong></label>
                <select id="programaId" name="programaId" class="form-select" formControlName="programaId">
                    <option value="" disabled selected hidden>Seleccione un Programa</option>
                    <option value="1">Ingeniería de Sistemas</option>
                    <option value="2">Ingeniería Civil</option>
                    <option value="3">Ingeniería Electrónica</option>
                    <option value="4">Artes Plásticas</option>
                    <option value="5">Ingeniería Industrial</option>
                    <option value="6">Ingeniería Mecánica</option>
                    <option value="7">Ingeniería Eléctrica</option>
                    <option value="8">Ingeniería Química</option>
                    <option value="9">Ciencias de la Computación</option>
                    <option value="10">Administración de Empresas</option>
                    <option value="11">Contaduría Pública</option>
                    <option value="12">Psicología</option>
                    <option value="13">Medicina</option>
                    <option value="14">Odontología</option>
                    <option value="15">Farmacia</option>
                    <option value="16">Ingeniería Ambiental</option>
                    <option value="17">Ciencias Políticas</option>
                    <option value="18">Derecho</option>
                    <option value="19">Arquitectura</option>
                </select>     
                @if (this.formulario.get('programaId')?.enabled) {
                    <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('programaId')?.valid && this.formulario.get('programaId')?.touched ? 'block' : 'none'"> 
                        Debes seleccionar un Programa.
                    </div>
                }
            </div>
            
            <div class="col-sm-6">
                <label for="cvLac" class="etiqueta-form"><strong>cvLac</strong></label>
                <input id="cvLac" name="cvLac" class="form-control" type="text" placeholder="cvLac"
                    formControlName="cvLac">
                <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('cvLac')?.valid && this.formulario.get('cvLac')?.touched ? 'block' : 'none'"> 
                    Los usuarios de tipo Docente deben estar registrados en cvLac
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm">
                <label for="nota" class="etiqueta-form"><strong>Nota</strong></label>
                <textarea id="nota" name="nota" class="form-control" type="text" placeholder="Nota" formControlName="nota"></textarea>
                <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('nota')?.valid && this.formulario.get('nota')?.touched ? 'block' : 'none'"> 
                    Digita una Nota valida (max 1000 caracteres)
                </div>
            </div>

        </div>    

        <div class="row">
            @if (this.mostrarSeleccionarOrganismo) {                
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm">
                            <label for="tipoOrganismo" class="etiqueta-form"><strong>Tipo de Vinculación</strong></label>
                            <select id="tipoOrganismo" name="tipoOrganismo" class="form-select" formControlName="tipoOrganismo"
                                (change)="visualizarFiltroBusquedaOrganismo($event)">
                                <option value="" disabled selected hidden>Organismo de Investigación</option>
                                @for (key of enumTranslationService.getEnumKeys(organismoDeInvestigacionYProyectoEnum); track $index) {
                                    <option [value]="key">{{enumTranslationService.getEnumValueByKey(organismoDeInvestigacionYProyectoEnum, key)}}</option>
                                }                                
                            </select>
                        </div>
                    </div>  
                </div>
            }

            <div class="col-sm">
                @if (visualizarOrganismos) {
                <!-- Mostrar datatable con los organismos para filtrar -->

                    <form [formGroup]="formularioBuscarOrganismos" (ngSubmit)="buscarOrganismos()" method="get">
                        <div class="">

                            <div class="row">
                                <!-- <div class="form-guide-line"></div> -->
                                <div class="col-sm-3">
                                    <label for="tipoOrganismo" class="etiqueta-form"><strong>Tipo de Organismo</strong></label>
                                    <select id="tipoOrganismo" name="tipoOrganismo" class="form-select" formControlName="tipoOrganismo">
                                        <option value="" disabled selected hidden>Vincular a un Grupo/Semillero</option>
                                        @for (key of enumTranslationService.getEnumKeys(organismoDeInvestigacionYProyectoEnum); track $index) {
                                            <option [value]="key">{{enumTranslationService.getEnumValueByKey(organismoDeInvestigacionYProyectoEnum, key)}}</option>                                        
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="organismoId" class="etiqueta-form"><strong>ID</strong></label>
                                    <input id="organismoId" name="organismoId" class="form-control" type="text"
                                        placeholder="ID" formControlName="organismoId">
                                </div>

                                <div class="col-sm-3">
                                    <label for="nombreOrganismo" class="etiqueta-form"><strong>Nombre</strong></label>
                                    <input id="nombreOrganismo" name="nombreOrganismo" class="form-control" type="text"
                                        placeholder="Nombre" formControlName="nombreOrganismo">
                                </div>

                            </div>

                            <div class="row">
                                <div class="col controls">
                                    <label class="form-label listar">Ver
                                        <select class="form-select form-select-sm"
                                            formControlName="buscarOrganismosPageSize">
                                            <option value="10" selected>10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </label>

                                    <button type="button" class="secondaryBTN" (click)="limpiarFiltroBusquedaOrganismo()">
                                        <div class="button-content">
                                            <span class="material-symbols-outlined secondaryBTN-icon">
                                                filter_alt
                                            </span>
                                            <span class="text">Limpiar</span>
                                        </div>
                                    </button>

                                    <button type="submit" class="primaryBTN">
                                        <div class="button-content">
                                            <span class="material-symbols-outlined primaryBTN-icon">
                                                search
                                            </span>
                                            <span class="text">Buscar</span>
                                        </div>
                                    </button>

                                </div>
                            </div>

                            <div class="form-guide-line"></div>
                        </div>

                        <!-- Tabla Paginada  -->
                        <app-datatable-custom [datatableInputs]="datatableInputsBuscarOrganismos"
                            (accionEmitter)="accion($event)" (changePageEmitter)="changePage($event)"
                            (movePageEmitter)="movePage($event)"></app-datatable-custom>
                    </form>
                }
            </div>
        </div>


        @if (this.mostrarRoles) {    
            <div class="row">
                <div class="col-sm-6">
                    <label for="organismoDeInvestigacionId" class="etiqueta-form"><strong>Organismo Seleccionado</strong></label>
                    <select id="organismoDeInvestigacionId" name="organismoDeInvestigacionId" class="form-select" formControlName="organismoDeInvestigacionId">
                        <option [value]="this.organismoSeleccionadoId">{{this.organismoSeleccionadoNombre}}</option>
                    </select>
                </div>                 
            </div> 

            <div class="row">
                <div class="col-sm-6">
                    <label for="rolId" class="etiqueta-form"><strong>Rol de Proyecto</strong></label>
                    <select id="rolId" name="rolId" class="form-select" formControlName="rolId">
                        <option value="" disabled selected hidden>Seleccionar Rol</option>
                        @for (roles of this.rolesDisponibles; track $index) {
                        <!-- <option [value]="roles.id">{{enumTranslationService.getEnumValueByKey(rolProyectoEnum, roles.nombre)}}</option> -->
                        <option [value]="roles.id">{{roles.nombre}}</option>
                        }
                    </select>
                    <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('rolId')?.valid && this.formulario.get('rolId')?.touched ? 'block' : 'none'"> 
                        Debe haber un Rol seleccionado
                    </div>
                </div>
            </div>  
        } 

        <div class="row">
            <div class="col controls">
                <button type="button" class="secondaryBTN" (click)="limpiarCampos()">
                    <div class="button-content">
                        <span class="material-symbols-outlined secondaryBTN-icon">
                            filter_alt
                        </span>
                        <span class="text">Limpiar</span>
                    </div>
                </button>

                <button type="submit" class="primaryBTN">
                    <div class="button-content">
                        <span class="material-symbols-outlined primaryBTN-icon">
                            add_circle
                        </span>
                        <span class="text">Crear</span>
                    </div>
                </button>

            </div>
        </div>

        <div class="form-guide-line"></div>
    </div>

</form>