<nav>
  <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/inicio"><a>Inicio</a></li>
      <li class="breadcrumb-item" routerLink="/semilleros"><a>Semilleros</a></li>
      <li class="breadcrumb-item" routerLink="/semilleros/listar-semilleros"><a>Listar Semilleros</a></li>
      <li class="breadcrumb-item" routerLink="/semilleros/listar-semilleros/{{id}}"><a>Semillero ID:{{id}}</a>
      </li>
  </ol>
</nav>
<h1 class="title">{{nombre}}</h1>

<div class="nav-container">
  <ul class="nav nav-underline">
    <li class="nav-item">
      <a class="nav-link" routerLink="descripcion" routerLinkActive="active">Descripción</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="listar-plan" routerLinkActive="active">Plan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="listar-integrantes" routerLinkActive="active">Integrantes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="" routerLinkActive="active">Lineas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="" routerLinkActive="active">Programas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="" routerLinkActive="active">Documentos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="" routerLinkActive="active">Observación</a>
    </li>
  </ul>
  <div class="guide-line"></div>

</div>


<router-outlet></router-outlet>
