<form [formGroup]="formulario" (ngSubmit)="onSubmit()" method="get">

    <div class="filter-box">

        <!-- Formulario de Creacion -->
        <div class="row">
            <div class="col-sm-4">
                <label for="nombre" class="etiqueta-form"><strong>Nombre</strong></label>
                <textarea id="nombre" name="nombre" class="form-control" type="text" placeholder="Nombre"
                    formControlName="nombre"></textarea>
                <div id="badFeedback" class="invalid-feedback"
                    [style.display]="!this.formulario.get('nombre')?.valid && this.formulario.get('nombre')?.touched ? 'block' : 'none'">
                    Digita una Nombre valido (5 - 256 caracteres)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">

                <div class="row">
                    <div class="col-sm">
                        <label for="organismo" class="etiqueta-form"><strong>Vincular Proyecto</strong></label>
                        <select id="organismo" name="organismo" class="form-select" formControlName="organismo"
                            (change)="visualizarFiltroBusquedaOrganismo($event)">
                            <option value="" disabled selected hidden>Vincular a un Grupo/Semillero</option>
                            @for (key of enumTranslationService.getEnumKeys(organismoDeInvestigacionEnum); track $index) {
                            <option [value]="key">{{enumTranslationService.getEnumValueByKey(organismoDeInvestigacionEnum,
                                key)}}</option>
                            }
                        </select>
                    </div>
                </div>  
                
                @if (this.mostrarIntegrantes) {    
                <div class="row">
                    <div class="col-sm">
                        <label for="organismoSeleccionado" class="etiqueta-form"><strong>Organismo Seleccionado</strong></label>
                        <input id="organismoSeleccionado" class="form-control" type="text" [value]="this.integrantesOrganismo?.nombre" [disabled]="true">
                    </div>                    
                </div> 

                <div class="row">
                    <div class="col-sm">
                        <label for="directorDeProyectoId" class="etiqueta-form"><strong>Director de Proyecto</strong></label>
                        <select id="directorDeProyectoId" name="directorDeProyectoId" class="form-select" formControlName="directorDeProyectoId">
                            <option value="" disabled selected hidden>Seleccionar Director</option>
                            @for (usuario of this.integrantesOrganismo?.integrantes; track $index) {
                            <option [value]="usuario.usuario.id">{{usuario.usuario.nombre}} {{usuario.usuario.apellido}}</option>
                            }
                        </select>
                        <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('directorDeProyectoId')?.valid && this.formulario.get('directorDeProyectoId')?.touched ? 'block' : 'none'"> 
                            Debe haber un Director de Proyecto seleccionado
                        </div>
                    </div>
                </div>  
                } 

            </div>

            <div class="col-sm">
                @if (visualizarOrganismos) {
                <!-- Mostrar datatable con los organismos para filtrar -->

                    <form [formGroup]="formularioBuscarOrganismos" (ngSubmit)="buscarOrganismos()" method="get">
                        <div class="">

                            <div class="row">
                                <!-- <div class="form-guide-line"></div> -->
                                <div class="col-sm-3">
                                    <label for="tipoOrganismo" class="etiqueta-form"><strong>Tipo de
                                            Organismo</strong></label>
                                    <select id="tipoOrganismo" name="tipoOrganismo" class="form-select"
                                        formControlName="tipoOrganismo">
                                        <option value="" disabled selected hidden>Vincular a un Grupo/Semillero</option>
                                        @for (key of enumTranslationService.getEnumKeys(organismoDeInvestigacionEnum); track
                                        $index) {
                                        <option [value]="key">
                                            {{enumTranslationService.getEnumValueByKey(organismoDeInvestigacionEnum, key)}}
                                        </option>
                                        }
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label for="organismoId" class="etiqueta-form"><strong>ID</strong></label>
                                    <input id="organismoId" name="organismoId" class="form-control" type="text"
                                        placeholder="ID" formControlName="organismoId">
                                </div>

                                <div class="col-sm-3">
                                    <label for="nombreOrganismo" class="etiqueta-form"><strong>Nombre</strong></label>
                                    <input id="nombreOrganismo" name="nombreOrganismo" class="form-control" type="text"
                                        placeholder="Nombre" formControlName="nombreOrganismo">
                                </div>

                            </div>

                            <div class="row">
                                <div class="col controls">
                                    <label class="form-label listar">Ver
                                        <select class="form-select form-select-sm"
                                            formControlName="buscarOrganismosPageSize">
                                            <option value="10" selected>10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </label>

                                    <button type="button" class="secondaryBTN" (click)="limpiarFiltroBusquedaOrganismo()">
                                        <div class="button-content">
                                            <span class="material-symbols-outlined secondaryBTN-icon">
                                                filter_alt
                                            </span>
                                            <span class="text">Limpiar</span>
                                        </div>
                                    </button>

                                    <button type="submit" class="primaryBTN">
                                        <div class="button-content">
                                            <span class="material-symbols-outlined primaryBTN-icon">
                                                search
                                            </span>
                                            <span class="text">Buscar</span>
                                        </div>
                                    </button>

                                </div>
                            </div>

                            <div class="form-guide-line"></div>
                        </div>

                        <!-- Tabla Paginada  -->
                        <app-datatable-custom [datatableInputs]="datatableInputs"
                            (accionEmitter)="accion($event)"></app-datatable-custom>
                    </form>
                }
            </div>
        </div>


        <div class="row">
            <div class="col controls">
                <button type="button" class="secondaryBTN" (click)="limpiarCampos()">
                    <div class="button-content">
                        <span class="material-symbols-outlined secondaryBTN-icon">
                            filter_alt
                        </span>
                        <span class="text">Limpiar</span>
                    </div>
                </button>

                <button type="submit" class="primaryBTN">
                    <div class="button-content">
                        <span class="material-symbols-outlined primaryBTN-icon">
                            add_circle
                        </span>
                        <span class="text">Crear Proyecto</span>
                    </div>
                </button>
            </div>
        </div>

        <div class="form-guide-line"></div>
    </div>
</form>