@if (authService.token.authorities.length > 0) {
    <div class="content">

        <header class="header">
            <app-header></app-header>
        </header>
    
        <section class="sidebar">
            <app-sidebar></app-sidebar>
        </section>
    
        <main class="main">
            <router-outlet></router-outlet>
        </main>
    
        <footer class="footer">
            <app-footer></app-footer>
        </footer>

    </div>
}@else {
    <app-usuario-sin-rol></app-usuario-sin-rol>    
}

