<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLink="/inicio"><a>Inicio</a></li>
        <li class="breadcrumb-item" routerLink="/usuarios/listar-solicitudes"><a>Solicitud Usuarios</a></li>
        <li class="breadcrumb-item" routerLink="/usuarios/listar-solicitudes/{{id}}"><a>Solicitud Usuario ID:{{id}}</a>
        </li>
    </ol>
</nav>

<h1 class="title">Solicitud de Usuario: {{this.nombre}}</h1>

<div class="nav-container">
    <ul class="nav nav-underline">
        <li class="nav-item">
            <a class="nav-link" routerLink="informacion-general" routerLinkActive="active">Información general</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="observaciones" routerLinkActive="active">Observaciones</a>
        </li>
    </ul>
    <div class="guide-line"></div>
</div>


<router-outlet></router-outlet>