/* ---------------- Miga de Pan ---------------- */

/* Estilos para la miga de pan */
.breadcrumb {
    margin-bottom: 5px;
    /* Margen inferior de la miga de pan */
}

/* Estilos para los elementos de la miga de pan */
.breadcrumb-item+.breadcrumb-item::before {
    padding-right: 8px;
    /* Espacio entre elementos */
    color: #C00;
    /* Color del separador */
    content: var(--bs-breadcrumb-divider, "/");
    /* Contenido del separador */
    font-weight: bold;
    /* Peso de la fuente del separador */
}

/* Estilos para los enlaces de la miga de pan */
.breadcrumb-item a {
    font-size: 12px;
    /* Tamaño de fuente */
}

/* Estilos para los enlaces de la miga de pan al pasar el mouse */
.breadcrumb-item a:hover {
    cursor: pointer;
    /* Cambiar el cursor */
    color: #006;
    /* Color del texto al pasar el mouse */
    border-bottom: 1px solid #006;
    /* Borde inferior al pasar el mouse */
}

/* ---------------- Titulo ---------------- */

/* Estilos para el título */
.title {
    color: var(--azul-principal, #006);
    /* Color del texto del título */
    font-size: 25px;
    /* Tamaño de fuente */
    font-style: normal;
    /* Estilo de fuente */
    font-weight: 700;
    /* Peso de la fuente */
    line-height: normal;
    /* Altura de línea */
    text-transform: capitalize;
    /* Transformación de texto */
    position: relative;
    /* Posición relativa */
    display: inline;
    /* Visualización en línea */
}

/* Estilos para el subrayado del título */
.title::after {
    content: "";
    /* Contenido del pseudo-elemento */
    position: absolute;
    /* Posición absoluta */
    bottom: -5px;
    /* Posición vertical del subrayado */
    left: 0;
    /* Posición horizontal del subrayado */
    width: 60%;
    /* Ancho del subrayado */
    border-bottom: 2px solid #C00;
    /* Estilo del subrayado */
}

/* ---------------- Navegación Horizontal ---------------- */

/* Estilos para la navegación horizontal */
.nav-underline {
    margin-top: 30px;
    /* Margen superior */
    padding-bottom: 9px;
    /* Relleno inferior */
    position: relative;
    /* Posición relativa */
}

/* Estilos para los elementos de la navegación horizontal */
.nav-underline .nav-item {
    margin-right: 16px;
    /* Margen derecho entre elementos */
}

/* Estilos para los enlaces de la navegación horizontal */
.nav-underline .nav-item .nav-link {
    color: var(--azul-principal, #006);
    /* Color del texto del enlace */
    font-size: 14px;
    /* Tamaño de fuente */
    font-style: normal;
    /* Estilo de fuente */
    font-weight: 400;
    /* Peso de la fuente */
    line-height: normal;
    /* Altura de línea */
}

/* Estilos para el enlace activo de la navegación horizontal */
.nav-underline .nav-item .nav-link.active {
    font-weight: 600;
    /* Peso de la fuente */
    border-bottom-color: #C00;
    /* Color del borde inferior */
    border-bottom-width: 2px;
    /* Ancho del borde inferior */
}

/* Estilos para los enlaces de la navegación horizontal al pasar el mouse */
.nav-underline .nav-item:hover .nav-link:not(.active) {
    border-bottom-width: 2px;
    /* Ancho del borde inferior */
}

/* Estilos para el contenedor de navegación */
.nav-container {
    position: relative;
    /* Posición relativa */
}

/* Estilos para la línea guía */
.guide-line {
    position: absolute;
    /* Posición absoluta */
    left: 0;
    /* Posición horizontal */
    bottom: 9px;
    /* Posición vertical */
    width: 100%;
    /* Ancho */
    height: 1px;
    /* Altura */
    background-color: rgba(224, 224, 255, 0.70);
    /* Color */
    z-index: 1;
    /* Índice z */
}