<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLink="/inicio"><a>Inicio</a></li>
        <li class="breadcrumb-item" routerLink="/convocatorias"><a>Convocatorias</a></li>
    </ol>
</nav>

<h1 class="title">Gestion de Convocatorias</h1>

<div class="nav-container">
    <ul class="nav nav-underline">
        <li class="nav-item">
            <a class="nav-link" routerLink="listar" routerLinkActive="active">Listar Convocatorias</a>
        </li>

        @if (permitirCrearConvocatoria) {
            <li class="nav-item">
                <a class="nav-link" routerLink="crear" routerLinkActive="active">Crear Convocatoria</a>
            </li>
        }
        
    </ul>
    <div class="guide-line"></div>
</div>


<router-outlet></router-outlet>