<form [formGroup]="formulario" (ngSubmit)="onSubmit()" method="get">
  <div class="filter-box">
    <!--formulario de editar semillero -->
    <div class="row">
      <div class="col-sm">
        <label for="nombre" class="etiqueta-form"><strong>Nombre</strong><span class="text-red-500">*</span></label>
        <input id="nombre" name="nombre" class="form-control" type="text" placeholder="nombre" formControlName="nombre">
        @if (!mostrarBtnActualizarSemillero) {
        <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('nombre')?.valid && this.formulario.get('nombre')?.touched ? 'block' : 'none'">
          Digita un Nombre valido (1 - 100 caracteres)
        </div>
        }
      </div>
      <div class="col-sm">
        <label for="correo" class="etiqueta-form"><strong>Correo</strong><span class="text-red-500">*</span></label>
        <input id="correo" name="correo" class="form-control" type="email" placeholder="Correo" formControlName="correo">
        @if (!mostrarBtnActualizarSemillero) {
        <div id="badFeedback" class="invalid-feedback"
          [style.display]="!this.formulario.get('correo')?.valid && this.formulario.get('correo')?.touched ? 'block' : 'none'">
          Digita un Correo valido (8 - 100 caracteres)
        </div>
      }
      </div>

      <div class="col-sm">
        <label for="fechaCreacion" class="etiqueta-form"><strong>Fecha Creación</strong></label>
        <input id="fechaCreacion" name="fechaCreacion" class="form-control" type="date" placeholder="Fecha Creación"
          formControlName="fechaCreacion">
      </div>

      <div class="col-sm">
        <label for="estadoSemillero" class="etiqueta-form"><strong>Estado </strong></label>
        <select id="estadoSemillero" name="estadoSemillero" class="form-select" formControlName="estadoSemillero">

          <option value="FORMULADO">Formulado</option>
          <option value="REVICIÓN_VRI">Revicion VRI</option>
          <option value="ACTIVO">Activo</option>
          <option value="ACTIVO_PENDIENTE_ACTUALIZACION">Activo Pendiente Actualizacion</option>
          <option value="INACTIVOv">Inactivo</option>
        </select>
      </div>

    </div>
    <div class="row">
      <div class="col-sm">
        <label for="nombreGrupo" class="etiqueta-form"><strong>Grupo Principal </strong></label>
        <input id="nombreGrupo" name="nombreGrupo" class="form-control" type="text" placeholder="Grupo"
          formControlName="nombreGrupo">
      </div>

      <div class="col-sm">
        <label for="sede" class="etiqueta-form"><strong>Sede </strong></label>
        <select id="sede" name="sede" class="form-select" formControlName="sede">
          <option value="POPAYAN">Popayán</option>
          <option value="SANTANDER_QUILICHAO">Santander de Quilichao</option>
        </select>
      </div>

      <div class="col-sm-6">
        <label for="nombreFacultad" class="etiqueta-form"><strong>Facultad </strong></label>
        <input id="nombreFacultad" name="nombreFacultad" class="form-control" type="text" placeholder="Facultad"
          formControlName="nombreFacultad">
      </div>

    </div>
    <div class="row">
      <div class="col-sm">
        <label for="programa" class="etiqueta-form"><strong>Programas </strong></label>
        <textarea id="programas" name="programa" class="form-control" type="text" placeholder="Programas"
          formControlName="programa"></textarea>
      </div>
      <div class="col-sm">
        <label for="linea" class="etiqueta-form"><strong>Lineas</strong></label>
        <textarea id="linea" name="linea" class="form-control" type="text" placeholder="Lineas"
          formControlName="linea"></textarea>
      </div>

    </div>
    <div class="row">
      <div class="col-sm">
        <label for="disciplina" class="etiqueta-form"><strong>Disciplinas</strong></label>
        <textarea id="disciplina" name="disciplina" class="form-control" type="text" placeholder="Disciplinas"
          formControlName="disciplina"></textarea>
      </div>

      <div class="col-sm">
        <label for="objetivo" class="etiqueta-form"><strong>Objetivo</strong><span class="text-red-500">*</span></label>
        <textarea id="objetivo" name="objetivo" class="form-control" type="text" placeholder="Objetivo"
          formControlName="objetivo"></textarea>
          @if (!mostrarBtnActualizarSemillero) {
        <div id="badFeedback" class="invalid-feedback"
          [style.display]="!formulario.get('objetivo')?.valid && formulario.get('objetivo')?.touched ? 'block' : 'none'">
          Digita un objetivo valido (1 - 1325 caracteres)
        </div>
      }
      </div>

    </div>
    <div class="row">
      <div class="col-sm">
        <label for="mision" class="etiqueta-form"><strong>Misión</strong><span class="text-red-500">*</span></label>
        <textarea id="mision" name="mision" class="form-control" type="text" placeholder="Misión"
          formControlName="mision"></textarea>
          @if (!mostrarBtnActualizarSemillero) {
        <div id="badFeedback" class="invalid-feedback"
          [style.display]="!formulario.get('mision')?.valid && formulario.get('mision')?.touched ? 'block' : 'none'">
          Digita un misión valido (1 - 1325 caracteres)
        </div>
      }
      </div>

      <div class="col-sm">
        <label for="vision" class="etiqueta-form"><strong>Visión</strong><span class="text-red-500">*</span></label>
        <textarea id="vision" name="vision" class="form-control" type="text" placeholder="Visión"
          formControlName="vision"></textarea>
          @if (!mostrarBtnActualizarSemillero) {
        <div id="badFeedback" class="invalid-feedback"
          [style.display]="!formulario.get('vision')?.valid && formulario.get('vision')?.touched ? 'block' : 'none'">
          Digita un visión valido (1 - 1325 caracteres)
        </div>
      }
      </div>


    </div>
    @if (!mostrarBtnActualizarSemillero) {
    <div class="row">
      <div class="col controls">
        <button type="button" class="secondaryBTN" (click)="cancelar()">
          <div class="button-content">
            <span class="material-symbols-outlined secondaryBTN-icon">
              cleaning_services
            </span>

            <span class="text">Restablecer</span>
          </div>
        </button>
        @if (mostrarBtnFuncionarioActualizar) {
          <button type="button" class="primaryBTN" (click)="actualizarSemilleroxFuncionario()">
            <div class="button-content">
              <span class="material-symbols-outlined primaryBTN-icon">
                check_circle
              </span>
              <span class="text">Actualizar</span>
            </div>
          </button>
        }@else {
          <button type="submit" class="primaryBTN">
            <div class="button-content">
              <span class="material-symbols-outlined primaryBTN-icon">
                check_circle
              </span>
              <span class="text">Actualizar</span>
            </div>
          </button>
        }


      </div>
    </div>
  }
    <div class="form-guide-line"></div>

  </div>
</form>
@if (showWarning) {
  <app-notificacion-error [title]="'Solicitud no guardada'" [message]="'Acción Cancelada'" (alertClosed)="onAlertClosed()" ></app-notificacion-error>

}
