<div class="contenedorCentral">

    <div class="container" id="container">

        <div class="form-container sign-in-container">

            <form [formGroup]="formulario" (ngSubmit)="onSubmit()" method="get">
                <h1 class="mb-3">SIVRI</h1>


                <label for="password" class="etiqueta-form"><strong>Digita la contraseña</strong></label>
                <input id="password" name="password" class="form-control" type="password" placeholder="Contraseña" formControlName="password">
                <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('password')?.valid && this.formulario.get('password')?.touched ? 'block' : 'none'"> 
                    Digita una Contraseña valida (5 - 245 caracteres)
                </div>

                <label for="verifyPassword" class="etiqueta-form"><strong>Repite la contraseña</strong></label>
                <input id="verifyPassword" name="verifyPassword" class="form-control" type="password" placeholder="Repite la Contraseña" formControlName="verifyPassword">
                <div id="badFeedback" class="invalid-feedback" [style.display]="!this.formulario.get('verifyPassword')?.valid && this.formulario.get('verifyPassword')?.touched && !this.contraseniasCoinciden() ? 'block' : 'none'"> 
                    Las contraseñas deben coincidir
                </div>


                <button class="mt-3" type="submit">Crear Contraseña</button>
            </form>

        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Hola!</h1>
                    <p>Bienvenidos al Sistema de Información de la Vicerrectoria de Investigaciones de la Universidad
                        del Cauca</p>
                    <p>Porfavor Crea una contraseña para poder acceder a SIVRI</p>
                </div>
            </div>
        </div>
    </div>
</div>