<form [formGroup]="formulario" (ngSubmit)="onsubmit()" method="get">
  <div class="filter-box">
    <!--formulario de editar semillero -->
    <div class=" d-flex ">
      @if (!mostrarBtnIntegrante || !btnMentorUsuario) {
      <h5 class="sub-title">Actualizar Integrante </h5>
      }@else {
        <h5 class="sub-title">Integrante </h5>
      }
    </div>
    <div class="row">
      <div class="col-sm">
        <label for="numeroDocumento" class="etiqueta-form"><strong>Número Documento</strong></label>
        <input id="numeroDocumento" name="numeroDocumento" class="form-control" type="number"
          placeholder="Número Documento" formControlName="numeroDocumento">
      </div>
      <div class="col-sm">
        <label for="nombre" class="etiqueta-form"><strong>Integrante</strong></label>
        <input id="nombre" name="nombre" class="form-control" type="text" placeholder="Nombre"
          formControlName="nombre">
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <label for="programa" class="etiqueta-form"><strong>Programa</strong></label>
        <select id="programa" name="programa" class="form-select" formControlName="programaId">
           @for (key of programas; track $index) {
          <option [value]="key.id">{{key.nombre}}</option>
          }
        </select>
      </div>
      <div class="col-sm">
        <label for="rolSemillero" class="etiqueta-form"><strong>Rol Semillero</strong></label>
        <select id="rolSemillero" name="rolSemillero" class="form-select" formControlName="rolSemilleroId">
           @for (key of rolIntegranteSemillero; track $index) {
          <option [value]="key.id">{{key.rolSemillero}}</option>
          }
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <label for="estadoIntegrante" class="etiqueta-form"><strong>Estado</strong></label>
        <select id="estadoIntegrante" name="estadoIntegrante" class="form-select" formControlName="estadoIntegrante">
          <option value="" disabled selected hidden>Estado del integrante</option>
          <option value="ACTIVO">Activo</option>
          <option value="INACTIVO">Inactivo</option>
        </select>
      </div>
      <div class="col-sm">
        <label for="fechaIngreso" class="etiqueta-form"><strong>Fecha Ingreso</strong></label>
        <input id="fechaIngreso" name="fechaIngreso" class="form-control" type="date" placeholder=""
          formControlName="fechaIngreso">
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <label for="fechaRetiro" class="etiqueta-form"><strong>Fecha Retiro</strong></label>
        <input id="fechaRetiro" name="fechaRetiro" class="form-control" type="date" placeholder=""
          formControlName="fechaRetiro">
      </div>
      <div class="col-sm"></div>
    </div>

    @if (!mostrarBtnIntegrante ) {
    <div class="row">
      <div class="col controls">
        <button type="button" class="secondaryBTN" (click)="cancelar()">
          <div class="button-content">
            <span class="material-symbols-outlined secondaryBTN-icon">
              cancel
            </span>
            <span class="text">Cancelar</span>
          </div>
        </button>

        <button type="submit" class="primaryBTN">
          <div class="button-content">
            <span class="material-symbols-outlined primaryBTN-icon">
              check_circle
            </span>
            <span class="text">Actualizar</span>
          </div>
        </button>

      </div>
    </div>
  }@else {
    <div class="row">
      <div class="col controls">
        <button type="button" class="secondaryBTN" (click)="atras()">
          <div class="button-content">
            <span class="material-symbols-outlined secondaryBTN-icon">
              keyboard_return
            </span>
            <span class="text">Atras</span>
          </div>
        </button>
         </div>
    </div>
  }
  </div>
</form>
