<div class="row">
    <div class="modal-header d-flex justify-content-center">
        <span class="material-symbols-outlined">
            gpp_bad
        </span>
    </div>
    <div class="modal-body d-flex flex-column justify-content-center align-items-center">
        <div class="modal-title">Error</div>
        <ul>
            @for (fieldName of getErrorDataKeys(); track $index) {
                <li>{{ mensaje[fieldName] }}</li>
            }
        </ul>
        
    </div>
    
    <div class="modal-footer d-flex flex-column justify-content-center align-items-center">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Ok</button>
    </div>
</div>
