<nav>
  <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/inicio"><a>Inicio</a></li>
      <li class="breadcrumb-item" routerLink="/semilleros"><a>Semilleros</a></li>
  </ol>
</nav>

<h1 class="title">Gestion de semilleros</h1>

<div class="nav-container">
  <ul class="nav nav-underline">
      <li class="nav-item">
          <a class="nav-link" routerLink="listar-semilleros" routerLinkActive="active">Listar Semilleros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="crear-semillero" routerLinkActive="active">Crear Semillero</a>
    </li>
  </ul>
  <div class="guide-line"></div>
</div>
<router-outlet></router-outlet>
