<!--mostrar filtro de paginado-->
<form [formGroup]="formulario" (ngSubmit)="onsubmit()" method="get">
  <div class="filter-box">
    <div class="row">
      <div class="col-sm">
        <label for="numeroDocumento" class="etiqueta-form"><strong>Cédula</strong></label>
        <input id="numeroDocumento" name="numeroDocumento" class="form-control" type="number" placeholder="Número Documento"
          formControlName="numeroDocumento" (keydown)="onKeyDown($event)">
      </div>
      <div class="col-sm">
        <label for="nombres" class="etiqueta-form"><strong>Nombre Integrante</strong></label>
        <input id="nombres" name="nombres" class="form-control" type="text" placeholder="Nombre" formControlName="nombres">
      </div>
      <div class="col-sm">
        <label for="idSemillero" class="etiqueta-form"><strong>Id</strong></label>
        <input id="idSemillero" name="idSemillero" class="form-control" type="number" placeholder="Id Semillero"
          formControlName="idSemillero" (keydown)="onKeyDown($event)">
      </div>

      <div class="col-sm">
        <label for="nombreSemillero" class="etiqueta-form"><strong>Semillero</strong></label>
        <input id="nombreSemillero" name="nombreSemillero" class="form-control" type="text" placeholder="Nombre del semillero" formControlName="nombreSemillero">
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <label for="rolSemillero" class="etiqueta-form"><strong>Rol </strong></label>
        <select id="rolSemillero" name="rolSemillero" class="form-select" formControlName="rolSemillero" [ngClass]="{'default-selected': formulario.get('rolSemillero')?.value==''}">
          <option value="" disabled selected hidden>Rol Integrante</option>
          @for (key of rolIntegranteSemillero; track $index) {
          <option [value]="key.id">{{key.rolSemillero}}</option>
          }
        </select>
      </div>

      <div class="col-sm">
        <label for="estado" class="etiqueta-form"><strong>Estado</strong></label>
        <select id="estado" name="estado" class="form-select" formControlName="estado" [ngClass]="{'default-selected': formulario.get('estado')?.value==''}">
          <option value="" disabled selected hidden>Estado Semillero</option>
          @for (key of enumTranslationService.getEnumKeys(estadoIntegranteSemilleroEnum); track $index) {
          <option [value]="key">{{enumTranslationService.getEnumValueByKey(estadoIntegranteSemilleroEnum,key)}}</option>
          }
        </select>
      </div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
    </div>
    <div class="row">
      <div class="col controls">
        <label class="form-label listar">Mostrar
          <select class="form-select form-select-sm" formControlName="pageSize">
            @for (pag of paginas; track $index) {
            <option [value]="pag">{{pag}}</option>
            }
          </select>
        </label>

        <button type="button" class="secondaryBTN" (click)="limpiarCampos()">
          <div class="button-content">
            <span class="material-symbols-outlined secondaryBTN-icon">
              filter_alt
            </span>
            <span class="text">Limpiar</span>
          </div>
        </button>

        <button type="submit" class="primaryBTN">
          <div class="button-content">
            <span class="material-symbols-outlined primaryBTN-icon">
              search
            </span>
            <span class="text">Buscar</span>
          </div>
        </button>

      </div>
    </div>
    <div class="form-guide-line"></div>
  </div>

  <!-- Tabla Paginada  -->
  <app-datatable-custom [datatableInputs]="datatableInputs" (changePageEmitter)="changePage($event)"
  (movePageEmitter)="movePage($event)"></app-datatable-custom>
</form>
