<div class="row">
  <div class="col-sm">
    <span class="sub-title">Documentación del semillero</span><br>
    <span>Visualice en la tabla los documentos adjuntos por el semillero</span>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="row g-0 align-items-center">
        <div class="col-md-2 card-title text-center" >
          <span class="nav-icon  icon-card card-title material-symbols-outlined">experiment</span>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h6 class="card-title  sub-title">ID </h6>
            <p class="card-text">Fecha de creación: </p>
            </div>
        </div>
        <div class="col-md-4 card-title  text-center">
            <p >estado </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-guide-line"></div>
<div class="row">
  <div class="col controls">

    <button type="submit" class="primaryBTN">
      <div class="button-content">
        <span class="material-symbols-outlined primaryBTN-icon">
          history_edu
        </span>
        <span class="text">Historial   de archivos</span>
      </div>
    </button>
  </div>
</div>
<div class="form-guide-line"></div>

<!-- tabla de la visualizacion de los archivos del semillero  -->
 <div class="card shadow datatable">

  <div class="card-body">

      <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
          <table class="table my-0 table-striped" id="dataTable">

              <thead>
                  <tr>
                    <th>Documentos</th>
                    <th>Estado</th>

                    <th>Acciones</th>
                  </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Aval Departamento <br>
                    <span >Validada y suscrita por el departamento</span>
                  </td>
                  <td>Revisión <br>

                  </td>

                  <td>


                    <div class="dropdown">
                      <a href=""><span class="material-symbols-outlined dataTableActionBtn"> chat_bubble </span></a>
                      <a href="#"  data-bs-toggle="dropdown"><span class="material-symbols-outlined dataTableActionBtn">more_vert</span></a>
                      <ul class="dropdown-menu">
                        <li>
                          <a (click)="triggerFileUpload(fileInputAval)" class="dropdown-item " ><span class="material-symbols-outlined dataTableActionBtn">upload</span>Cargar documento</a></li>
                          <input type="file" (change)="onFileSelectedAval($event)" #fileInputAval style="display: none;" />
                        <li>
                          <a class="dropdown-item" (click)="downloadAval()" ><span class="material-symbols-outlined dataTableActionBtn">download</span>Descargar documento</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Otros</td>
                  <td> Revisión

                  </td>

                  <td>

                    <div class="dropdown">
                      <a href=""><span class="material-symbols-outlined dataTableActionBtn"> chat_bubble </span></a>
                      <a href="#"  data-bs-toggle="dropdown"><span class="material-symbols-outlined dataTableActionBtn">more_vert</span></a>
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item " (click)="triggerFileUpload(fileInputOtro)"><span class="material-symbols-outlined dataTableActionBtn">upload</span>Cargar documento</a></li>
                          <input type="file" (change)="onFileSelectedOtro($event)" #fileInputOtro style="display: none;" />
                        <li>
                          <a class="dropdown-item" (click)="downloadOtro()"><span class="material-symbols-outlined dataTableActionBtn">download</span>Descargar documento</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>

              </tbody>

          </table>

      </div>
      <div>
        <span>Botón para finalizar el registro del semillero de Investigación </span>
          <button  class="primaryBTN">
            <div class="button-content">
              <span class="material-symbols-outlined primaryBTN-icon">
                done_all
              </span>
              <span class="text">revisar VRI</span>
            </div>
          </button>
      </div>

  </div>
</div>
