<form [formGroup]="formulario" (ngSubmit)="onsubmit()" method="get">
  <div class="filter-box">

    <!--filtro de busqueda por id semillero, nombre semillero y estado-->
    <div class="row">
      <div class="col-sm">
        <label for="anio" class="etiqueta-form"><strong>Año de ejecución</strong></label>
        <input id="anio" name="anio" class="form-control" type="number" placeholder="Año del plan"
          formControlName="anio" min="1900" max="2100">

      </div>
      <div class="col-sm">
        <label for="estado" class="etiqueta-form"><strong>Estado</strong></label>
        <select id="estado" name="estado" class="form-select" formControlName="estado">
          <option value="" disabled hidden>Estado del plan</option>
          @for (key of enumTranslationService.getEnumKeys(estadoPlanEnum); track $index) {
          <option [value]="key">{{enumTranslationService.getEnumValueByKey(estadoPlanEnum,key)}}</option>
          }
        </select>

      </div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>

    </div>
    <div class="row">
      <div class="col controls">
        <label class="form-label listar">Mostrar
          <select class="form-select form-select-sm" formControlName="pageSize">
            @for (pag of paginas; track $index) {
            <option [value]="pag">{{pag}}</option>
            }
          </select>
        </label>
        <button type="button" class="secondaryBTN" (click)="toggleFormulario()">
          <div class="button-content">
            <span class="material-symbols-outlined primaryBTN-icon">
              add
            </span>
            <span class="text">Plan</span>
          </div>
        </button>
        <button type="button" class="secondaryBTN" (click)="limpiarCampos()">
          <div class="button-content">
            <span class="material-symbols-outlined secondaryBTN-icon">
              filter_alt
            </span>
            <span class="text">Limpiar</span>
          </div>
        </button>

        <button type="submit" class="primaryBTN">
          <div class="button-content">
            <span class="material-symbols-outlined primaryBTN-icon">
              search
            </span>
            <span class="text">Buscar</span>
          </div>
        </button>

      </div>
    </div>
    <div class="form-guide-line"></div>
  </div>

  <!--acordeon del los planes -->
  @if(mostrarCreaPlan==false){
  @if (searchPerformed == true) {
    @if (respuesta.status == 200) {
      @if (respuesta.data.content.length > 0) {
        <div class="accordion" id="accordionPlanes">
          @for (item of respuesta.data.content; track $index) {
            <div class="accordion-item">
              <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#'+item.id" aria-expanded="false" [attr.aria-controls]="item.id">
                      {{item.id}}  {{item.nombrePlan}} {{item.anio}}   -      {{item.estado}}
                  </button>
              </h2>
              <div [id]="item.id" class="accordion-collapse collapse" data-bs-parent="#accordionPlanes">
                  <div class="accordion-body">
                    <app-listar-actividades [idPlan]="item.id"></app-listar-actividades>
                  </div>
              </div>

            </div>

          }
        </div>
      }@else {
        <!--no hay registros-->
        <div class="icon-container">
          <span class="material-symbols-outlined giant-icon">
            scan_delete
          </span>
          <p class="file-description">No hay Plan de trabajo disponibles asociados a esta busqueda.</p>
        </div>
      }

    }@else {
    <p>No se puedieron cargar los planes de trabajo del semillero</p>
    }
  }@else {
    <div class="icon-container">
      <span class="material-symbols-outlined giant-icon">
        description
      </span>
      <p class="file-description">Visualiza registros de Plan de trabajo llenando los campos del formulario.</p>
    </div>
  }
  }
</form>
@if (mostrarCreaPlan) {
<div>
  <app-crear-plan />
</div>
}
